.container {
    max-width: 600px;
    margin: 9rem auto;
    padding: 0 2rem;

    h1 {
        color: var(--white);
        margin-bottom: 1.5rem;
    }
}

.select {
    width: 100%;
    background-color: var(--dark-900);
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    margin-top: 2rem;
    color: var(--white);

    img {
        width: 100%;
        border-radius: 0.3rem;
    }
}

.descriptionProduct {
    position: relative;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
        font-size: 1.1rem;
        margin-top: 5px;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 0;
    }

    input {
        background: var(--dark-600);
        color: var(--white);
        bottom: 0;
        width: 40%;
        padding: 6px;
        border-radius: 0.4rem;
        border: 1px solid var(--gray);
    }

    button {
        font-size: 1.3rem;
        border: none;
        background: var(--button-enter);
        color: white;
        width: 30%;
        height: 30px;
        border-radius: 0.3rem;
        bottom: 0;
        right: 0;
    }
}